<%= form_with url:"/astronauts/#{@astronaut.id}", local: true, method: :patch do |form| %>
  <p>Name: </p>
  <%= form.text_field :name  %>
  <p>Active: </p>
  <%= form.text_field :active %>
  <p>Years active: </p>
  <%= form.text_field :years_active %>
  <p><%= form.submit 'Save' %></p>
<% end %>
