<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<p>-----------------------------------------------</p>

<% @astronauts.each do |astronaut| %>
  <h3>Name: <%= astronaut.name %>
  </h3>
  <p>Active: <%= astronaut.active %></p>
  <p>Years active: <%= astronaut.years_active %></p>
  <p>Id: <%= astronaut.id %></p>
  <p>Created at: <%= astronaut.created_at %></p>
  <p>Updated at: <%= astronaut.updated_at %></p>
  <%= link_to "Update", "/astronauts/#{astronaut.id}/edit" %>
  <%= link_to 'Delete', "/astronauts/#{astronaut.id}", method: :delete %>
  <br>
  <p>-----------------------------------------------</p>
<% end %>
