<h1><%= @astronaut.name %></h1>
<p><%= @astronaut.active%></p>
<p><%= @astronaut.years_active %></p>
<p><%= @astronaut.id %></p>
<p><%= @astronaut.created_at %></p>
<p><%= @astronaut.updated_at %></p>
