<%= link_to 'Space Station Index', '/space_stations' %>
<%= link_to 'Astronaut Index', '/astronauts' %>
<h1><%= @astronaut.name %></h1>
<p>Active: <%= @astronaut.active%></p>
<p>Years active: <%= @astronaut.years_active %></p>
<p>Id: <%= @astronaut.id %></p>
<p>Created at: <%= @astronaut.created_at %></p>
<p>Updated at: <%= @astronaut.updated_at %></p>
<%= link_to 'Update Astronaut', "/astronauts/#{@astronaut.id}/edit" %>
<%= form_with url:"/astronauts/#{@astronaut.id}", local: true, method: :delete do |form| %>
  <p><%= form.submit 'Delete Astronaut' %></p>
<% end %>
