<%= link_to 'Space Station Index', '/space_stations' %>
<%= link_to 'Astronaut Index', '/astronauts' %>
<h1>Space Stations</h1>
<% @stations.each do |station| %>
  <p><%= station.name + ". Created at: " + station.created_at.to_s %>
    <%= link_to "Update #{station.name} info", "space_stations/#{station.id}/edit?stat=true" %>
    <%= link_to 'Delete Space Station', "space_stations/#{station.id}/", method: :delete %>
  </p>
  <br>
<% end %>
<%= link_to 'New Space Station', '/space_stations/new' %>
