<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<%= form_with url:"/space_stations", local: true, method: :post do |form| %>
  <p>Name: </p>
  <%= form.text_field :name  %>
  <p>Habitable: </p>
  <%= form.text_field :habitable %>
  <p>Max occupants: </p>
  <%= form.text_field :max_occupants %>
  <p><%= form.submit 'Create Space Station' %></p>
<% end %>
