<h1><%= @station.name %></h1>
<p>Number of Astronauts: <%= @station.astronauts.count %></p>
<p><%= @station.habitable %></p>
<p><%= @station.max_occupants %></p>
<p><%= @station.id %></p>
<p><%= @station.created_at %></p>
<p><%= @station.updated_at %></p>
